<h1 class="titolo"><%= @post.titolo %></h1>
<div id="wmd-button-bar" style="display:none;"></div>
<textarea id="wmd-input" class="wmd-input" disabled style="display:none;"><%= @post.blocktext %></textarea>
<div class="t_body">
  <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
</div>
<div class="t_info">
  <% author_name = User.where(id: @post.author).take %>
  <%= link_to "#{author_name.nickname}", controller: "pages", action: "index" %>
  <% I18n.locale = :it %>
  <span title="<%= @post.updated_at.strftime('%d/%m/%Y %H:%M') %>">&middot; <%= time_ago_in_words(@post.updated_at) + ' fa' %></span>
  <% if Love.select(:id).where(post: 1, postID: @post.id, author_id: "#{userd 'id'}").count > 0 %>
    <% heart = '-o'%>
  <% else %>
    <% heart = nil %>
  <% end %>
  <%= link_to "<i class=\"fa fa-heart#{heart}\"></i> #{Love.select(:id).where(post: 1, postID: @post.id).count}".html_safe, {controller: "post", action: "addVote", id: @post.id}, class: "votes_p" %>
</div>

<script>

  var converter1 = Markdown.getSanitizingConverter();
  Markdown.Extra.init(converter1, {extensions: "all"});
  var editor1 = new Markdown.Editor(converter1);
  editor1.hooks.chain("onPreviewRefresh", prettyPrint); // google code prettify
  converter1.hooks.chain("preConversion", function (text) {
    return text.replace(/\b(a\w*)/gi, "*$1*");
  });
  editor1.run();
</script>
