<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @test.nickname %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @test.rank %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
