<div class="sidebar">
  <%= "<div class=\"s_register\">#{link_to "Registrati", controller: 'users', action: 'signup'}</div>".html_safe unless check_conn %>
  <div class="last_chall">
    <h1>Ultime sfide</h1>
    <ul>
      <% Post.order(:updated_at).where(category: 3).reverse_order.take(5).each do |post| %>
      <li class="<%= cycle('', 'c2') %>">
        <div class="ch_title"><%= link_to "#{post.titolo}", controller: "post", action: "topic", postID: post.id %></div>
        <div class="ch_infos">
          <%= link_to "Partecipa", {controller: "post", action: "topic", postID: post.id}, class: 'ch_button' %>
          <% author_name = User.where(id: post.author).take %>
          <p>creata da <%= link_to "#{author_name.nickname}", controller: 'pages', action: 'index' %></p>
          <p>commenti <a>666</a></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="last_comments">
    <h1>Ultimi commenti</h1>
    <ul>
      <li>
        <div class="c_avatar" style="background-image: url('/assets/avatar.jpg')"></div>
        <div class="c_infos">
          <p><%= link_to "Funzioni stile C++", controller: 'pages', action: 'index' %></p>
          <p><span><%= link_to "dunkerc", controller: 'pages', action: 'index' %>, 2 giorni fa</span></p>
        </div>
      </li>
      <li class="c2">
        <div class="c_avatar" style="background-image: url('assets/avatar.jpg')"></div>
        <div class="c_infos">
          <p><%= link_to "Funzioni stile C++", controller: 'pages', action: 'index' %></p>
          <p><span><%= link_to "dunkerc", controller: 'pages', action: 'index' %>, 2 giorni fa</span></p>
        </div>
      </li>
      <li>
        <div class="c_avatar" style="background-image: url('assets/avatar.jpg')"></div>
        <div class="c_infos">
          <p><%= link_to "Funzioni stile C++", controller: 'pages', action: 'index' %></p>
          <p><span><%= link_to "dunkerc", controller: 'pages', action: 'index' %>, 2 giorni fa</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>
